
.row{
    width: 109%;
    margin-left: -10px;
    /* background-color: #0084FF; */
    /* margin-right:200px; */
}
.box {
    background-color: #c2c2c2;
    height: 110px;
    text-align: center;
    margin-bottom: 5px;
    /* margin-right: -25px; */
    border-radius: 4px;
}
.urlBox{
    float: left;
    margin-left: 5px;
    width: 13%;

}
.text {
    padding-top: 30px;
    font-size: 30px;
    color: #0084FF;
}

.main {
    z-index: 5;
    margin: 5px 30px 0 5px;
}

.menu {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 10px;
    width: 30px;
}

.menu-button {
    float: left;
    background-color: #c2c2c2;
    border-radius: 14px;
    width: 30px;
    margin-bottom: 5px;

}


.svg-pic {
    width: 30px;
    color: #0084FF;
    /* background-color: #0084FF; */
}